@import '../variables.scss';
@import '../mixins.scss';

.button {
  @include telegram-button;
  font-size: 16px;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &.primary {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
  }
  
  &.secondary {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
  }
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .action-icon {
    width: 18px;
    height: 18px;
    margin-right: $spacing-sm;
    vertical-align: middle;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: $spacing-xs;
    flex-shrink: 0;
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  // Кнопки с иконками и текстом
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-xs;
}

