@import '../variables.scss';
@import '../mixins.scss';

.button {
  @include telegram-button;
  width: 100%;
  font-size: 16px;
  
  &.primary {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
  }
  
  &.secondary {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
  }
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

