@import '../variables.scss';
@import '../mixins.scss';

.card {
  @include card;
  margin-bottom: var(--spacing);
  cursor: pointer;
  background-color: var(--surface-color);
  border: 1px solid var(--border-color);
}

