@import '../variables.scss';
@import '../mixins.scss';

.input-group {
  margin-bottom: $spacing-md;
}

.input-label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: $spacing-xs;
  color: var(--tg-theme-text-color);
}

.input-required {
  color: $error-color;
  margin-left: 2px;
}

.input-field {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  transition: border-color 0.2s;
  
  &:focus {
    border-color: var(--tg-theme-button-color);
    outline: none;
  }
  
  &.input-error {
    border-color: $error-color;
  }
  
  &::placeholder {
    color: var(--tg-theme-hint-color);
  }
}

.textarea-field {
  resize: vertical;
  min-height: 80px;
  font-family: inherit;
  padding: 12px 16px;
}

.error-text {
  color: $error-color;
  font-size: 12px;
  margin-top: $spacing-xs;
  margin-bottom: $spacing-sm;
}

select.input-field {
  cursor: pointer;
  padding-right: 42px; // 16px (padding) + 10px (отступ стрелки) + 16px (ширина стрелки)
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23999' d='M8 11L3 6h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

