@import '../variables.scss';
@import '../mixins.scss';

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.layout-main {
  flex: 1;
  @include container;
  padding: 80px var(--spacing);
}

